In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_json('../Datasets/pit_stops.json')
data.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8030 entries, 0 to 8029
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        8030 non-null   int64
 1   driverId      8030 non-null   int64
 2   stop          8030 non-null   int64
 3   lap           8030 non-null   int64
 4   time          8030 non-null   object
 5   duration      8030 non-null   object
 6   milliseconds  8030 non-null   int64
dtypes: int64(5), object(2)
memory usage: 439.3+ KB

In [39]:
data['duration'].astype('str')

0       26.898
1       25.021
2       23.426
3       23.251
4       23.842
         ...
8025     22.04
8026    22.384
8027    22.123
8028    23.098
8029    23.217
Name: duration, Length: 8030, dtype: object

In [40]:
data.to_csv('../CleanDataSets/pit_stops.csv',index=False,header=True)