In [1]:
import requests
import pandas as pd
import json
import numpy as np

## Copio los enlaces de mi API

In [2]:
url_race = 'http://127.0.0.1:8000/race'
url_qualifying = 'http://127.0.0.1:8000/qualifying'
url_circuits = 'http://127.0.0.1:8000/circuits'
url_results = 'http://127.0.0.1:8000/results'
url_constructors = 'http://127.0.0.1:8000/constructors'
url_drivers = 'http://127.0.0.1:8000/drivers'
url_pitStops = 'http://127.0.0.1:8000/pitStops'

## Realizo una peticion GET

In [3]:
race = requests.get(url_race)
qualifying = requests.get(url_qualifying)
circuits = requests.get(url_circuits)
results = requests.get(url_results)
constructors = requests.get(url_constructors)
drivers = requests.get(url_drivers)
pitStops = requests.get(url_pitStops)

## Si la respuesta es "200" que realice la lectura

In [4]:
if race.status_code == 200 and qualifying.status_code == 200 and circuits.status_code == 200 and results.status_code == 200 and constructors.status_code == 200 and drivers.status_code == 200 and pitStops.status_code == 200:
    race = race.json()
    qualifying = qualifying.json()
    circuits = circuits.json()
    results = results.json()
    constructors = constructors.json()
    drivers = drivers.json()
    pitStops = pitStops.json()

## La API nos devuelve una lista, por eso lo pasamos a JSON

In [5]:
race = json.dumps(race)
qualifying = json.dumps(qualifying)
circuits = json.dumps(circuits)
results = json.dumps(results)
constructors = json.dumps(constructors)
drivers = json.dumps(drivers)
pitStops = json.dumps(pitStops)

## Leemos la data con Pandas

In [6]:
df_race = pd.read_json(race,orient='records')
df_qualifying = pd.read_json(qualifying,orient='records')
df_circuits = pd.read_json(circuits,orient='records')
df_results = pd.read_json(results,orient='records')
df_constructors = pd.read_json(constructors,orient='records')
df_drivers = pd.read_json(drivers,orient='records')
df_pitStops = pd.read_json(pitStops,orient='records')

# Ejercicios

## 1. AÃ±o con mas carreras

In [7]:
df_race.head()

,race_id,circuit,date,name,round,time,url,year
0,1,1,2009-03-29,Australian Grand Prix,1,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,2009
1,2,2,2009-04-05,Malaysian Grand Prix,2,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,2009
2,3,17,2009-04-19,Chinese Grand Prix,3,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,2009
3,4,3,2009-04-26,Bahrain Grand Prix,4,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,2009
4,5,4,2009-05-10,Spanish Grand Prix,5,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,2009

In [8]:
index_max = df_race['round'].idxmax()

In [9]:
df_race.loc[index_max,:]

race_id                                                 1073
circuit                                                   24
date                                     2021-12-12 00:00:00
name                                    Abu Dhabi Grand Prix
round                                                     23
time                                                13:00:00
url        http://en.wikipedia.org/wiki/2021_Abu_Dhabi_Gr...
year                                                    2021
Name: 1057, dtype: object

In [10]:
### Respuesta:
df_race.loc[index_max,:]['year']

2021

## 2. Piloto con mayor cantidad de primeros puestos

In [11]:
# Vemos la data
df_results.head()

,result_id,constructor,driver,fastest_lap,fastest_lap_speed,fastest_lap_time,grid,laps,miliseconds,number,points,position,position_order,position_text,race,ranked,status_id,times
0,1,1,1,39,218.300,1:27.452,1,58,5690616,22,10.0,1,1,1,18,2,1,1:34:50.616
1,2,2,2,41,217.586,1:27.739,5,58,5696094,3,8.0,2,2,2,18,3,1,+5.478
2,3,3,3,41,216.719,1:28.090,7,58,5698779,7,6.0,3,3,3,18,5,1,+8.163
3,4,4,4,58,215.464,1:28.603,11,58,5707797,5,5.0,4,4,4,18,7,1,+17.181
4,5,1,5,43,218.385,1:27.418,3,58,5708630,23,4.0,5,5,5,18,1,1,+18.014

In [12]:
#Solo extraemos los de puesto 1
df_position1 =df_results[df_results['position'] == 1]

In [13]:
# Vemos quien es el conductor con mayor puestos 1
df_position1['driver'].value_counts()

1      95
30     91
20     53
117    51
102    41
       ..
394     1
404     1
509     1
449     1
815     1
Name: driver, Length: 110, dtype: int64

In [ ]:
# El conductor de ID 1 es el que mas posiciones 1 tuvo

In [14]:
# Vemos como es la data de Drivers
df_drivers.head()

,driver_id,code,dob,driver_ref,forename,nationality,number,surname,url
0,1,HAM,1985-01-07,hamilton,Lewis,British,44.0,Hamilton,http://en.wikipedia.org/wiki/Lewis_Hamilton\r
1,2,HEI,1977-05-10,heidfeld,Nick,German,,Heidfeld,http://en.wikipedia.org/wiki/Nick_Heidfeld\r
2,3,ROS,1985-06-27,rosberg,Nico,German,6.0,Rosberg,http://en.wikipedia.org/wiki/Nico_Rosberg\r
3,4,ALO,1981-07-29,alonso,Fernando,Spanish,14.0,Alonso,http://en.wikipedia.org/wiki/Fernando_Alonso\r
4,5,KOV,1981-10-19,kovalainen,Heikki,Finnish,,Kovalainen,http://en.wikipedia.org/wiki/Heikki_Kovalainen\r

In [15]:
# Extraemos el forename
forename = df_drivers[df_drivers['driver_id'] == 1]['forename']
# Extraemos el surname
surname = df_drivers[df_drivers['driver_id'] == 1]['surname']

In [16]:
## Resultado: Piloto con mayor cantidad de puestos numero 1
forename.values[0]+" "+surname.values[0]

'Lewis Hamilton'

## 3. Nombre del circuito mas recorrido

In [17]:
# Vemos la data
df_race.head()

,race_id,circuit,date,name,round,time,url,year
0,1,1,2009-03-29,Australian Grand Prix,1,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,2009
1,2,2,2009-04-05,Malaysian Grand Prix,2,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,2009
2,3,17,2009-04-19,Chinese Grand Prix,3,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,2009
3,4,3,2009-04-26,Bahrain Grand Prix,4,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,2009
4,5,4,2009-05-10,Spanish Grand Prix,5,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,2009

In [18]:
# Buscamos e indice del mayor numero de rondas
id_max_round = df_race['round'].idxmax()

In [19]:
# Buscamos el dato con el indice 1057
df_race.loc[id_max_round,:]

race_id                                                 1073
circuit                                                   24
date                                     2021-12-12 00:00:00
name                                    Abu Dhabi Grand Prix
round                                                     23
time                                                13:00:00
url        http://en.wikipedia.org/wiki/2021_Abu_Dhabi_Gr...
year                                                    2021
Name: 1057, dtype: object

In [20]:
# Almacenamos el ID del circuit
id_circuit = df_race.loc[id_max_round,:]['circuit']

In [21]:
# VEMOS LA DATA DE CIRCUITS
df_circuits.head(3)

,circuit_id,alti,circuit_ref,country,lat,lng,location,name,url
0,1,10,albert_park,Australia,-37.84970,144.9680,Melbourne,Albert Park Grand Prix Circuit,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,18,sepang,Malaysia,2.76083,101.7380,Kuala Lumpur,Sepang International Circuit,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,7,bahrain,Bahrain,26.03250,50.5106,Sakhir,Bahrain International Circuit,http://en.wikipedia.org/wiki/Bahrain_Internati...

In [22]:
# Buscamos el nombre del circuito con el ID especificado
name = df_circuits[df_circuits['circuit_id'] == id_circuit]['name']

In [23]:
# Respuesta
name.values[0]

'Yas Marina Circuit'

## 4. Piloto con mayor cantidad de puntos en total, cuyo constructor sea de nacionalidad American o British

In [24]:
# Revisamos la data de constructors
df_constructors.head()

,constructor_id,constructor_ref,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren\r
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber\r
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Ros...

In [25]:
# Solo filtramos los ID de los constructores de American y British
id_constructor = df_constructors[(df_constructors['nationality'] == 'American') | (df_constructors['nationality'] == 'British')]['constructor_id']

In [26]:
id_constructor.values

array([  1,   3,  16,  19,  21,  23,  24,  25,  26,  29,  30,  31,  32,
        34,  37,  41,  46,  50,  52,  53,  57,  58,  63,  64,  66,  67,
        68,  73,  75,  76,  77,  79,  80,  83,  84,  87,  88,  90,  91,
        92,  94,  96,  97,  99, 101, 102, 106, 107, 108, 109, 110, 111,
       112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 125,
       126, 129, 133, 134, 135, 136, 138, 139, 142, 143, 148, 149, 150,
       151, 152, 155, 156, 157, 158, 159, 160, 161, 162, 166, 167, 168,
       169, 170, 171, 172, 173, 176, 177, 178, 180, 181, 182, 183, 186,
       187, 188, 189, 190, 191, 192, 193, 194, 195, 197, 198, 199, 200,
       201, 202, 203, 204, 208, 209, 210, 211], dtype=int64)

In [27]:
# Creamos una funcion que ayude a ponerle verdadero o falso si pertenecen a la lista anterior
def searcID(id):
    return id in id_constructor.values

In [28]:
# Devolvemos una columna con verdadero o falso si no cumple la condicion de la funcion
valor = df_results['constructor'].apply(searcID)

In [29]:
# Filtramos solo los verdaderos
df_filterConstruct = df_results[valor]

In [30]:
df_filterConstruct.head()

,result_id,constructor,driver,fastest_lap,fastest_lap_speed,fastest_lap_time,grid,laps,miliseconds,number,points,position,position_order,position_text,race,ranked,status_id,times
0,1,1,1,39,218.300,1:27.452,1,58,5690616,22,10.0,1,1,1,18,2,1,1:34:50.616
2,3,3,3,41,216.719,1:28.090,7,58,5698779,7,6.0,3,3,3,18,5,1,+8.163
4,5,1,5,43,218.385,1:27.418,3,58,5708630,23,4.0,5,5,5,18,1,1,+18.014
5,6,3,6,50,212.974,1:29.639,13,57,0,8,3.0,6,6,6,18,14,11,0
24,25,1,5,19,208.031,1:35.922,8,56,5517005,23,6.0,3,3,3,19,7,1,+38.450

In [31]:
id_driver_maxpoint = df_filterConstruct.groupby(['driver']).agg({'points':'sum'}).idxmax()

In [32]:
id_driver_maxpoint

points    18
dtype: int64

In [33]:
# Extraemos el forename y surname
forename = df_drivers[df_drivers['driver_id'] == id_driver_maxpoint[0]]['forename']
surname = df_drivers[df_drivers['driver_id'] == id_driver_maxpoint[0]]['surname']

In [34]:
#Respuesta
forename+" "+surname

17    Jenson Button
dtype: object